.dropdown {
}

.dropdown .dropdown-menu {
  @apply block;
}

.dropdown .dropdown-menu li {
  @apply text-lg pl-3;
}

.dropdown .dropdown-menu li a {
  color: var(--color-text-default);
}

.dropdown .dropdown-toggle {
  @apply flex items-center;
}

.dropdown .dropdown-toggle .caret {
  @apply hidden;
}

@screen md {
  .dropdown {
    @apply relative;
  }

  .dropdown .dropdown-menu {
    @apply absolute hidden;
    z-index: 9999;
  }

  .dropdown .dropdown-menu ul {
    @apply
      relative
      bg-white
      rounded-md
      flex-col
      m-0
      p-4
      shadow-2xl
      mt-5
      border
      border-gray-100;
    color: var(--color-text-default);
    margin-top: 1em;

    /* transform: translateX(-25%); */
  }

  .dropdown .dropdown-menu ul:before {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    top: -4px;
    left: 10px;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
  }

  .dropdown .dropdown-menu li {
    @apply mx-0 my-2 text-base pl-0;
  }

  .dropdown .dropdown-menu li a {
    color: #2d3748;
  }  

  .dropdown .dropdown-toggle .caret {
    @apply block ml-2;
    fill: var(--color-text-default);
  }

  nav.home .dropdown .dropdown-toggle .caret {
    fill: #fff;
  }
}