.instagram-widget {
  @apply
    flex
    flex-col
    w-full
    p-5
    rounded-lg
    my-6;
  color: var(--color-text-default);
  background-color: var(--ig-bg);
}

.instagram-widget .text {
  @apply flex flex-col justify-center text-center;
}

.instagram-widget .images {
  @apply
    flex
    flex-wrap
    items-center
    justify-center
    w-full;
}

.instagram-widget .svg {
  @apply
    flex
    text-white
    rounded-full
    overflow-hidden
    mx-auto
    my-5
    cursor-pointer
    px-2;

    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=\'#f09433\', endColorstr=\'#bc1888\',GradientType=1 );
}

.instagram-widget .svg svg {
  margin-top: -3px;
  width: 48px;
  height: 48px;
  fill: #fff;
}

@screen lg {
  .instagram-widget {
    @apply flex-row;
  } 

  .instagram-widget .text {
    @apply text-left;
  } 
  
  .instagram-widget .svg {
    @apply mr-auto ml-0;    
  }

  .instagram-widget .images {
    @apply -mb-16 max-w-xs;
  }
}