.projects {
  --gap: 1rem;
  @apply flex w-full bg-transparent rounded;
}

.projects ul {
  @apply flex flex-wrap;
}

.projects li {
  @apply mb-4 flex items-center w-full cursor-pointer h-48;
  /* perspective: 1000px; */
}

.projects li h2 {
  @apply text-3xl;
}

.projects li > div {
  @apply flex flex-col h-full w-full p-4 rounded text-white;
  transition: .4s;
}

.projects li:hover div {
  transform: scale(1.03);
}

@screen md {

}

@screen lg {
  .projects {
    @apply p-5;
  }
 
  .projects ul li {
    max-width: calc(50% - var(--gap) * 2);    
  }

  .projects ul li:nth-child(odd) {
    @apply mr-2;
  }
  
  .projects ul li:nth-child(even) {
    @apply ml-2;
  } 
}