.home-projects {
  @apply my-20;
  background-color: var(--bg-post);
}

.projects {
  @apply relative w-auto flex flex-wrap justify-center;
}

.projects li {
  @apply 
    text-white
    rounded
    mb-4
    p-4
    flex
    items-center
    w-full
    cursor-pointer
    h-48
    overflow-hidden;
  transition: all .4s ease-in-out;
}

.projects li div.bg {
  @apply absolute top-0 left-0 w-full h-full;
}

.projects li h2 {
  @apply font-bold text-3xl;
}

.projects li button {
  @apply
    mr-auto
    block
    opacity-100
    border-2
    border-white
    rounded-full
    px-3
    py-2
    text-xs
    mt-auto
    mb-0;
  transition: all .4s ease-in-out; 
}

.projects li button:hover {
  @apply bg-white text-gray-900;
}

.home-projects button {
  @apply border-2 w-auto mr-auto my-10 rounded-full p-3 text-sm;
  border-color: var(--footer-text);
}

.home-projects button:hover {
  background-color: var(--footer-text);
}

@screen lg {
  .projects {
    @apply mx-20;
    perspective: 1000px;
  }

  .projects li {
    width: 300px;
    height: 250px;
    transform: rotateY(-20deg);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
    /* 5px 5px 3px red; */
  }

  .projects li:nth-child(odd) {
    @apply -mr-24;
  }

  .projects li:nth-child(even) {
    @apply z-10 -mt-10;
  }    

  .projects li:hover {
    @apply z-20 shadow-xl;
    transform: rotateY(0deg) scale(1.2) !important;
  }

  .projects:hover > li:not(:hover) {
    transform: rotateY(-20deg) scale(0.9);
  }

  .projects li button {
    @apply opacity-0;
  }

  .projects li:hover button {
    @apply opacity-100;
  }
}