.posts-list .posts-wrapper {
  @apply flex flex-col;
}

.posts-list .post {
  @apply
    w-full
    flex
    cursor-pointer
    p-0
    border-b
    py-5;
  border-color: var(--bg-inline-code);
}

.posts-list button {
  @apply border-2 w-48 m-auto my-10 rounded-full py-3;
  border-color: var(--bg-inline-code);
}

.posts-list button:hover {
  background-color: var(--bg-inline-code);
}

.posts-list a {
  color: var(--color-text-default);
}

@screen lg {
  .posts-list .post {
    @apply py-10 px-10 -mx-10;
  }
}