.posts-list .posts-wrapper {
  @apply flex flex-wrap;
}

.posts-list .post {
  @apply
    rounded-lg
    w-full
    flex
    p-5
    mb-6
    cursor-pointer
    h-56;
  background-color: var(--bg-post);
  /* border: 1px solid red; */
}

@screen lg {
  .posts-list .post {
    /* max-width: calc(50% - 4em); */
    flex: 0 calc(50% - 1.5rem);
  }

  .posts-list .post:nth-child(odd) {
    @apply ml-0 mr-3;
  }
  
  .posts-list .post:nth-child(even) {
    @apply mr-0 ml-3;
  }  
}