.about-header .pill.pill__skills {
  border-color: rgb(214, 93, 177);
}

.about-header .pill.pill__skills,
.about-header .pill.pill__skills a {
  color: rgb(214, 93, 177);
}

.about-header .pill.pill__skills:hover,
.about-header .pill.pill__skills.active {
  background-color: rgb(214, 93, 177);
  color: white;
}

.about-header .pill.pill__career,
.about-header .pill.pill__career a {
  border-color: rgb(255, 199, 95);
  color: rgb(255, 199, 95);
}

.about-header .pill.pill__career:hover,
.about-header .pill.pill__career.active {
  background-color: rgb(255, 199, 95);
  color: white;
}

.about-header .pill.pill__entrepreneurship,
.about-header .pill.pill__entrepreneurship a {
  border-color: rgb(187, 0, 43);
  color: rgb(187, 0, 43);
}

.about-header .pill.pill__entrepreneurship:hover,
.about-header .pill.pill__entrepreneurship.active {
  background-color: rgb(187, 0, 43);
  color: white;
}

.about-header .pill.pill__beginnings,
.about-header .pill.pill__beginnings a {
  border-color: rgb(255, 111, 145);
  color: rgb(255, 111, 145);
}

.about-header .pill.pill__beginnings:hover,
.about-header .pill.pill__beginnings.active {
  background-color: rgb(255, 111, 145);
  color: white;
}

/* .about-header p:nth-child(1) {
  position: absolute;
}

.about-header p:nth-child(1):before {
  content: '';
  border: 1px solid red;
  shape-outside: polygon(
    2% 0%,
    100% 0%,
    100% 100%,
    2% 100%,
    50% 94%,
    76.6% 82.7%,
    94% 65.6%,
    100% 50%,
    94% 32.6%,
    76.6% 17.3%,
    50% 6%
    );
  shape-margin: 0%;
  width: 300px;
  height: 500px;
  float: left;
  opacity: .2;
} */