.project__open {
  @apply
    absolute
    w-full
    top-0
    left-0
    flex
    justify-center
    items-center
    text-white
    bg-cover;
}

.project__content h2 {
  @apply font-bold my-5;
}

.project__content p {
  @apply my-5;
}

.project__content div.showcase {
  @apply relative flex my-10 items-center;
  /* border: 2px solid magenta; */
}

.project__content div.showcase > div {
  @apply w-full;
  /* border: 1px solid lime; */
}

.project__content.react-donut-svg svg text {
  fill: var(--color-text-default);
}

.project__hero {
  @apply w-full flex flex-col items-center;
}

.project__hero > div {
  @apply w-full;
}

/* .project__hero > div:nth-child(1) {
  @apply w-full;
} */

.project__narrow {
  @apply flex flex-col justify-center my-20;
}

.project__wip {
  @apply p-5 rounded-lg flex justify-between my-10;
  background-color: var(--ig-bg);
}

.project__panel {
  @apply w-full rounded-full flex justify-between items-center;
  background-color: var(--bg-post);
  color: var(--footer-text);
}

.project__panel button, .project__panel span.label {
  transition: all .15s ease-out;
  @apply border-2 border-gray-500 rounded-full px-2 py-3 text-xs cursor-pointer;
}

.project__panel button:not(:last-child), .project__panel span.label:not(:last-child) {
  @apply mr-3;
}

.project__panel button:hover, .project__panel span.label:hover {
  background-color: var(--footer-text);
  color: white;
}

ul.as-table {
  border: 1px solid var(--footer-text);
  @apply rounded-lg my-5;
  background-color: var(--bg-post);
}

ul.as-table li {
  @apply px-2 py-4;
}

ul.as-table li:not(:last-child) {
  border-bottom: 1px solid var(--footer-text);
}

ul.as-table li .title {
  @apply text-xl font-bold;
}

ul.as-table li pre {
  @apply text-xs;
}

ul.as-table li div.code-inner {
  margin: 1rem 0;
  padding: 10px !important;
  /* background-color: transparent !important; */
  /* padding-left: 0 !important; */
}

@screen lg {
  .project__narrow {
    @apply mx-auto max-w-md;
  }

  .project__narrow h2 {
    @apply text-center;
  }

  .project__hero {
    @apply flex-row;
  }

  .project__hero .code, .project__hero figure {
    margin: 0 !important;
  }

  .project__hero > div {
    @apply w-1/2;
  }

  .project__hero > div:nth-child(1) {
    @apply mr-10
  }

  .project__content div.showcase {
    @apply flex flex-wrap my-0;
    min-height: 200px;
    min-height: 400px;
    perspective: 1000px;
    transition: all .35s ease-in-out;
  }

  .project__content div.showcase:hover {
    transform: scale(.9);
  }

  .project__content div.showcase > div {
    transform: rotateY(30deg);
    transition: all .35s ease-in-out;    
  }

  .project__content.react-donut-svg div.showcase > div {
    @apply py-3;
    width: 200px;
    height: 200px;
  }

  .project__content.bocado div.showcase > div {
    @apply py-3;
    width: 200px;
    height: 200px;
  }


  .project__content div.showcase > div:hover {
    @apply z-20;
    transform: rotateY(0deg) scale(1.3) !important;    
  }
}