.splash {
  @apply
    flex
    w-screen
    h-screen
    relative
    max-w-full
    items-center
    text-white
    overflow-hidden;
  background-color: var(--splash-bg);
  background-image: var(--splash-bg-image);
}

/* .splash .cont-inner {
  @apply -mt-48;
} */

.splash h1 {
  @apply text-5xl text-white font-bold;
}

.splash .wave {
  @apply absolute bottom-0 left-0 right-0 flex items-end justify-center;
}

.splash .wave svg {
  @apply w-full;
  fill: var(--splash-wave);
}

.splash .wave .arrow-scroll {
  @apply absolute text-2xl cursor-pointer;  
  bottom: .5em;
  color: var(--splash-arrow);
}

.splash .me {
  @apply hidden max-w-xl relative;
}

@screen md {
  .splash .wave .arrow-scroll {
    bottom: 1em;
  }
}

@screen lg {
  .splash {
    @apply items-center;  
  } 

  .splash h1 {
    @apply text-6xl text-white;
  }  

  .splash .me {
    @apply flex self-center mt-24;
  }
}

@media screen and (min-height: 800px and min-width: 1280px) {
  .splash .me {
    @apply mt-48;
  }
}