@font-face {
  font-family: 'Cartoon';
  src: url('/fonts/CARTOON.ttf') format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Bold.ttf') format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Light.ttf') format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}