@font-face {
  font-family: 'Cartoon';
  src: url('/fonts/CARTOON.ttf') format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf') format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
