@font-face {
  font-family: 'Cartoon';
  src: url('/fonts/CARTOON.ttf') format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf') format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost/Jost-Medium.ttf') format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost/Jost-MediumItalic.ttf') format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost/Jost-Bold.ttf') format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost/Jost-BoldItalic.ttf') format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost/Jost-Light.ttf') format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost/Jost-LightItalic.ttf') format("truetype");
  font-weight: 100;
  font-style: italic;
}