.text-subtext {
  color: var(--subtext);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import './mediaqueries.css'; */
@import './fonts.css';
@import './variables.css';

@import '../pages/articles/articles.css';

@import '../templates/article/article.css';
@import '../templates/project/project.css';

@import '../components/layout/splash/splash.css';
@import '../components/layout/nav/nav.css';
@import '../components/layout/footer/footer.css';
@import '../components/layout/nav/logo/logo.css';

@import '../components/posts-list/posts-list.css';
@import '../components/home-projects/home-projects.css';
@import '../components/burger/burger.css';
@import '../components/project-layout/project-layout.css';

body {
  background-color: var(--color-bg);
  font-family: var(--font-family);
  font-weight: normal;
  color: var(--color-text-default);
}

body.locked {
  @apply overflow-hidden;
}

.cont {
  @apply flex w-full justify-center;
}

.cont .cont-inner {
  @apply flex w-full px-4;
  max-width: 1100px;
}

@screen md {
  .cont .cont-inner {
    @apply px-32;    
  }
}

@screen lg {
  .cont .cont-inner {
    @apply px-12;
  }
}

@media (min-width: 1024px) and (max-width: 1160px) {
  .home-pic{
    margin-bottom: -5em;
  } 
}