@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import './mediaqueries.css'; */
@import './fonts.css';
@import './variables.css';

@import '../components/layout/splash/splash.css';
@import '../components/layout/nav/nav.css';
@import '../components/layout/footer/footer.css';

@import '../components/posts-list/posts-list.css';
@import '../components/home-projects/home-projects.css';

body {
  background-color: var(--color-bg);
  font-family: var(--font-family);
  font-weight: normal;
  color: var(--color-text-default);
}

.cont {
  @apply flex w-full justify-center;
}

.cont .cont-inner {
  @apply flex w-full mx-8;
  max-width: 1100px;
}

@screen md {
  .cont .cont-inner {
    @apply mx-32;    
  }
}

@screen lg {
  .cont .cont-inner {
    @apply mx-40;
  }
}

@media (min-width: 1024px) and (max-width: 1160px) {
  .home-pic{
    margin-bottom: -5em;
  } 
}