@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import './mediaqueries.scss';
@import './fonts.scss';
@import './variables.scss';

body {
  background-color: var(--color-bg);
  font-family: var(--font-family);
  font-weight: normal;
  color: var(--color-text-default);
}

.cont {
  @apply flex w-full;

  .cont-inner {
    @apply flex flex-col w-full mx-8;

    @include md {
      @apply mx-32;
    }
  
    @include lg {
      @apply mx-40;
    }
  }
}

nav {
  @apply bg-transparent flex w-full fixed top-0 z-50;

  // &.home {
  //   @apply hidden;
  // }
}

.splash {
  @apply flex w-screen h-screen relative max-w-full items-center;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);

  @include dark {
    background: rgb(17,17,17);
    background: linear-gradient(180deg, rgba(17,17,17,1) 0%, rgba(77,77,77,1) 100%);  
  }

  h1 {
    @apply text-6xl text-white;
  }

  .cont-inner {
    @apply -mt-48;
  }

  .wave {
    @apply absolute bottom-0 left-0 right-0;

    svg {
      fill: white;

      @include dark {
        fill: #111111;
      }
    }
  }
}