@tailwind base;
@tailwind components;
@tailwind utilities;

@import './fonts.css';
@import './variables.css';

body {
  background-color: var(--color-bg);
  font-family: var(--font-family);
  font-weight: 200;
  color: var(--color-text-default);
}

h1, h2, h3 {
  @apply font-bold mb-5;
  color: var(--color-text-default);
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

a {
  color: var(--link);
}

p > a[target="_blank"]::after {
  content: '\1F517';
  font-size: 9px;
  color: var(--link);
}

b {
  font-weight: 600;
}

body.locked {
  @apply overflow-hidden;
}

.cont {
  @apply flex w-full justify-center;
}

.cont .cont-inner {
  @apply flex w-full px-4;
  max-width: 1100px;
}

@screen md {
  .cont .cont-inner {
    @apply px-32;    
  }
}

@screen lg {
  .cont .cont-inner {
    @apply px-12;
  }
}
