$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;

@mixin dark {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

@mixin light {
  @media (prefers-color-scheme: light) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$screen-sm}) {
      @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md}) {
      @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg}) {
      @content;
  }
}

@mixin xl {
  @media (min-width: #{$screen-xl}) {
      @content;
  }
}