.post, .page {
  @apply py-24;
}

.post .cont-inner, .page .cont-inner {
  @apply flex w-full px-4;
  max-width: 1100px;
}

.post h2, .page h2 {
  @apply text-4xl;
}

.post p, .page p {
  @apply text-lg;
}

.post figure, .post div.code, .page figure, .page div.code {
  @apply my-10 -mx-4;
}

.post p code {
  @apply p-2 rounded text-sm;
  background-color: var(--bg-inline-code);
}

.post .share {
  @apply hidden sticky z-50 mt-0 mb-auto px-3;
  top: 200px;
  left: 1em;
  /* margin-left: -100px; */
}

@screen md {
  .post .cont-inner, .page .cont-inner {
    @apply px-32;
  }

  .post .share {
    @apply block;
  }
}

@screen lg {
  .post, .page {
    @apply py-32;
  }
  
  .post .cont-inner, .page .cont-inner {
    @apply px-32;
  }

  .post figure, .post div.code, .page figure, .page div.code {
    margin: 2rem -3rem;
  }

  .post div.code, .page div.code {
    max-width: auto;
    overflow-x: auto;
    @apply rounded-lg;
  }
}