.post, .page {
  @apply py-24;
}

.post .cont-inner, .page .cont-inner {
  @apply flex w-full px-4;
  max-width: 1100px;
}

.post .cont-inner {
  @apply items-start flex-col;
}

.post h1 {
  @apply text-5xl font-bold;
}

.post h2, .page h2 {
  @apply text-4xl;
}

.post p, .page p {
  @apply text-lg;
}

.post figure, .post div.code, .page figure, .page div.code {
  @apply my-10 -mx-4;
}

.post p code {
  @apply p-2 rounded text-sm;
  background-color: var(--bg-inline-code);
}

.post article {
  @apply flex flex-col w-full;
}

.post article .post-data {
  @apply py-4 w-full flex justify-between items-center border-t border-b;
  border-color: var(--bg-inline-code);
} 

.post article .post-data time {
  color: var(--footer-text);
}

.post .share {
  @apply flex flex-row;
}

.post .toc {
  @apply w-full mb-12;
}

.post .post-pic {
}

@screen md {
  .post .cont-inner {
    @apply px-32;
  }

  .page .cont-inner {
    @apply px-12;
  }

  .post .post-pic {
    @apply rounded-lg overflow-hidden;
  }  
}

@screen lg {
  .post, .page {
    @apply py-32;
  }
  
  .post .cont-inner {
    @apply px-12;
  }

  .page .cont-inner {
    
  }  

  .post figure, .post div.code, .page figure, .page div.code {
    margin: 2rem -3rem;
  }

  .post div.code, .page div.code {
    max-width: auto;
    overflow-x: auto;
    @apply rounded-lg;
  }
}