backend:
  name: git-gateway
media_folder: "static/images/uploads"
public_folder: "/images/uploads"
publish_mode: editorial_workflow
collections:
  - name: "articles"
    create: true
    label: "Articles"
    label_singular: "Article"
    folder: "content/articles"
    extension: mdx
    format: frontmatter    
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Body", name: "body", widget: "markdown"}
      - {label: "Date", name: "date", widget: "datetime", format: "YYYY-MM-DD"}
      - {label: "Categories", name: "categories", widget: "list"}
  - name: "projects"
    create: true
    label: "Projects"
    label_singular: "Project"
    folder: "content/projects"
    extension: mdx
    format: frontmatter
    fields:
      - {label: "Name", name: "name", widget: "string"}
      - {label: "Description", name: "description", widget: "text"}
      - {label: "Body", name: "body", widget: "markdown"}
      - {label: "Background", name: "background", widget: "string"}
      - {label: "Url", name: "url", widget: "string"}            
      - {label: "Stack", name: "stack", widget: "list"}  
      - {label: "Tags", name: "tags", widget: "list"}      
      - {label: "Call to action", name: "call_to_action", widget: "string"}                                  