.post {
  @apply py-24;
}

.post .cont-inner {
  @apply flex w-full px-4;
  max-width: 1100px;
}

.post h2 {
  @apply text-4xl;
}

.post p {
  @apply text-lg;
  /* font-weight: lighter;
  letter-spacing: 1px; */
}
/* 
.post div.code pre {
  @apply w-full;
} */

.post figure, .post div.code {
  @apply my-10 -mx-4;
}

/* .post div.code {
  @apply rounded-lg;
  max-width: 100vw;
  overflow-x: scroll;
} */

@screen md {
  .post .cont-inner {
    @apply px-48;    
  }
}

@screen lg {
  .post {
    @apply py-32;
  }
  
  .post .cont-inner {
    @apply px-64;
  }

  .post figure, .post div.code {
    margin: 2rem -3rem;
  } 

  .post div.code {
    max-width: auto;
    overflow-x: auto;
    @apply rounded-lg;
  }  
}