.project-list {
  @apply w-full flex overflow-x-auto;
}

.project-list-inner {
  @apply flex flex-row w-full;
}

.project-list-item {
  @apply flex flex-col w-full max-w-xs flex-shrink-0 rounded-lg m-3 p-3 text-white h-32 justify-center cursor-pointer;
  /* background-color: var(--bg-post);   */
}

@screen md {
  .project-list {
    @apply max-w-xs overflow-x-visible;
  }

  .project-list-inner {
    @apply flex-col;
  }
  
  .project-list-item {
    @apply m-0 mb-5;
  }
}
