nav {
  @apply
    relative
    flex
    w-full
    top-0
    z-50
    h-16;
  background-color: var(--nav-bg);
  color: var(--color-text-default);
}

nav a {
  color: var(--color-text-default);
}

nav.home::before {
  /* backdrop-filter: none; */
  backdrop-filter: blur(3px);  
}

nav::before {
  @apply absolute py-5 w-full h-full bg-transparent;
  content: '';
  backdrop-filter: blur(3px);
}

nav div.nav-inner {
  @apply flex items-center py-3 z-10 justify-between;  
}

 nav .logo {
  display: flex;
  align-items: center;
  transform: translateX(50%);
  z-index: 10;
}

nav div.logo ul li:not(:last-child) {
  @apply mr-4;
}

nav .logo span.logo {
  font-family: 'Cartoon';
  position: relative;
  display: flex;
  font-size: 42px;
  background-image: linear-gradient(to right top, #d16ba5 33%, #8aa7ec 33%, #5ffbf1 33%);  
  -webkit-background-clip: text;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  transition: all 1s linear;
}

nav .logo span.logo span {
  display: flex;
  align-items: center;
  position: relative;
}

nav.home {
  @apply bg-transparent;
  background-image: none;
}

nav .icons {
  @apply flex;
}

nav .icons .icon {
  @apply relative mr-3 cursor-pointer text-xl;
}

nav .theme-toggle svg {
  fill: var(--color-text-default);
  stroke: var(--color-text-default);
}

nav .theme-toggle {
  @apply cursor-pointer flex items-center;
}

@screen md {
  nav {
    @apply h-24;
  }

  nav.home {
    color: #fff;
  }

  nav.home a {
    color: var(--color-bg);
  }

  nav .logo {
    transform: none;
  }

  nav div.nav-inner {
    @apply py-10;
  }

  nav div.menu ul li {
    display: flex;
    opacity: 1 !important;
    transform: none !important;
  }

  nav .icons .icon {
    @apply text-lg;
  }  

  nav.home .theme-toggle svg {
    fill: #fff;
    stroke: #fff;
  }  
}