/**
 * Nav
 */
nav {
  @apply
    relative
    flex
    w-full
    top-0
    z-50
    h-16;
  background-color: var(--nav-bg);
}

nav.home::before {
  backdrop-filter: none;
}

nav::before {
  @apply absolute py-5 w-full h-full bg-transparent;
  content: '';
  backdrop-filter: blur(3px);
}

/**
 * Nav inner
 */
nav div.nav-inner {
  @apply flex items-center py-3 z-10 justify-between;  
}

/**
 * Nav menu
 */
nav .menu {
  @apply
    hidden
    items-start
    justify-around
    absolute
    flex-col
    w-screen
    h-screen
    top-0
    left-0
    right-0
    pl-10;
  color: var(--color-text-default);
  background-color: var(--color-bg);  
}

nav .menu .close {
  @apply
    absolute
    top-0
    right-0;
}

nav .menu ul {
  @apply flex flex-col text-4xl text-left;
}

/**
 * Nav logo
 */
 nav .logo {
  display: flex;
  align-items: center;
  transform: translateX(50%);
  z-index: 10;
}

nav div.logo ul li:not(:last-child) {
  @apply mr-4;
}

nav .logo span.logo {
  font-family: 'Cartoon';
  position: relative;
  display: flex;
  font-size: 42px;
  background-image: linear-gradient(to right top, #d16ba5 33%, #8aa7ec 33%, #5ffbf1 33%);  
  -webkit-background-clip: text;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  transition: all 1s linear;
}

nav .logo span.logo span {
  display: flex;
  align-items: center;
  position: relative;
}

/**
 * Nav homepage specifics
 */
nav.home {
  @apply bg-transparent;
  background-image: none;  

  
}

/**
 * Nav Mobile Menu Opened
 */
nav div.nav-inner.menu-mobile-opened {
  @apply
    relative
    justify-center
    mx-0;
} 

nav div.nav-inner.menu-mobile-opened div.logo{
  @apply z-10 absolute;
  left: 1rem;
} 

/**
 * Nav Icons
 */
nav .icons {
  @apply flex;
}

nav .icons .icon {
  @apply relative mr-3 cursor-pointer text-xl;
}

nav .icons .icon svg,
nav .theme-toggle svg {
  fill: var(--color-text-default);
  stroke: var(--color-text-default);
}

nav div.menu-mobile-opened .icons .icon svg,
nav div.menu-mobile-opened .theme-toggle svg {
  fill: var(--color-text-default) !important;
  stroke: var(--color-text-default) !important;
}

nav .theme-toggle {
  @apply cursor-pointer flex items-center;
}

/**
 * Nav Media Queries
 */
@screen md {
  nav {
    @apply h-24;
  }
  nav .logo {
    transform: none;
  }

  nav .menu {
    @apply
      flex-row
      items-start
      justify-between 
      flex
      w-full
      h-auto
      relative;
    background-color: inherit;
    color: inherit;
  }

  nav div.nav-inner {
    @apply py-10;
  }

  nav div.menu ul li {
    display: flex;
    opacity: 1 !important;
    transform: none !important;
  }

  nav.home .menu > div {
    @apply ml-auto;
  }  

  nav .menu ul {
    @apply flex-row ml-10 text-lg;
  }

  nav .menu > ul > li > a,
  nav .menu > ul > li > div.dropdown > div.dropdown-toggle a {
    transition: background 1s linear;
    font-weight: bold;
  }

  nav .menu > ul > li:hover > a,
  nav .menu > ul > li:hover > div.dropdown > div.dropdown-toggle a {
    background: linear-gradient(to right, #845EC2, #D65DB1, #FF6F91, #FFC75F, #F9F871);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;       
  }

  nav .menu > ul > li:not(:last-child) {
    @apply mr-4;
  }

  nav .icons .icon {
    @apply text-lg;
  }  
}